* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

img {
  max-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.btn_simple {
  color: #722ED1;
  border: 1px solid #722ED1;
  font-weight: 600;
  padding: 6px 34px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
  border-radius: 20px; }
  .btn_simple:hover {
    background-color: #722ED1;
    color: #fff; }

#header {
  padding-top: 24px; }
  #header .inner_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .inner_header .logo {
      display: block;
      width: 48px;
      height: 48px; }
      #header .inner_header .logo > img {
        width: 100%; }
    #header .inner_header .right_side_header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #header .inner_header .right_side_header .mnu_top {
        list-style-type: none; }
        #header .inner_header .right_side_header .mnu_top > li {
          margin-right: 40px;
          display: inline-block; }
          #header .inner_header .right_side_header .mnu_top > li > a {
            display: block;
            text-decoration: none;
            font-weight: 500;
            color: #000;
            -webkit-transition: color 0.4s ease;
            transition: color 0.4s ease; }
            #header .inner_header .right_side_header .mnu_top > li > a:hover {
              color: #722ED1; }
